* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --text-color: white;
  --bg-url: url(./assets/bg-mobile-dark.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 36rem;
  border: 1px solid red;
  margin: 5.6rem auto 0rem;
  padding: 0 2.4rem;
}
/* profile */
#profile {
  text-align: center;
  padding: 2.4rem;
}

#profile img {
  width: 11.2rem;
}

#profile p {
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

/* switch */
#switch {
  position: relative;
  width: 6.4rem;
  margin: 0.4rem auto;
}

#switch button {
  width: 3.2rem;
  height: 3.2rem;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 6.4rem;
  height: 2.4rem;
  background: var(--surface-color);
  border: 0.1rem solid var(--stroke-color);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  border-radius: 99.9rem;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.6rem 2.4rem;

  background: var(--surface-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 0.8rem;

  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  boder: 0.15rem solid var(--text-color);
}

/* social links */
#social-links {
  display: flex;
  justify-content: center;
  padding: 2.4rem 0;
  font-size: 2.4rem;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}
